[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SplicingFactory"]
	path = SplicingFactory
	url = https://github.com/esebesty/splicingfactory
